
:root {
    --navbg: #3c3838;
    --bg: #4d4848;
    --acent: #ca7007
}

body {
    background: #53c6c5 url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0 10l10-10h30v30l-10 10H0V10zm22 18l-4-4 4-4v8zM18 8l4 4-4 4V8zm12 12l-4-4 4-4v8zm-4-12l4 4-4 4V8z" fill="%23ffffff" fill-opacity="0.3" fill-rule="evenodd"/%3E%3C/svg%3E') repeat;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #383333;
}

h1 {
    margin-top: 0;
}

.dashboardnavlist  {
    list-style-type: none;
    margin: -8px;
    padding: 5px;
    width: 10%;
    font-size: 24px;

    background: rgba(77, 79, 77, 0.41);
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    color: #847d7d;

}

.dashboardnavlist > li {
    border: solid var(--navbg);
    background-color: var(--bg);
}

.dashboardnavlist > li:hover {
    border: solid var(--navbg);
    background-color: #585252;
    color: darkorange;
}

#maindiv {
    margin-left: 11%;
    padding-left: 20px;
    background: rgba(77, 79, 77, 0.41);
}

#srvDate, #hostname, #srvTime, #uptime {
    margin-top: -12px;
}



#rebootbtn:hover {
    background-color: #920416;
}

#title {
    color: var(--acent);
}




div {
    /*
    background: #4d5d5d url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0 10l10-10h30v30l-10 10H0V10zm22 18l-4-4 4-4v8zM18 8l4 4-4 4V8zm12 12l-4-4 4-4v8zm-4-12l4 4-4 4V8z" fill="%23ffffff" fill-opacity="0.1" fill-rule="evenodd"/%3E%3C/svg%3E') repeat;
   */

    text-align: left;
    height: 80%;

}

h1 {
    text-align: center;
}

#title {
    color: #2bc5c5;
    font-size: 50px;
}

#rebootbtn{

    background-color: #2bc5c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;


}

/*
* TAB: USER
 */

.usertable > tbody > tr > td {
    width: 5%;

}

/*
* TAB USER PERMISSIONS
*/

.userpermissiontable > tbody > tr > td:nth-child(2) {
    width:15%;

}

.userpermissiontable > tbody > tr > td {
    width: 3%;
}


/*
* TAB PERMISSIONS
 */

.permissiontable > tbody > tr > td:nth-child(2) {
    width:15%;

}

.permissiontable > tbody > tr > td {
    width: 3%;
}

#pid {
    width: 5%;
}

#pd {
    width: 60%;
}


#btnp {
    min-width: 55%;
}

/*
* TAB USER PERMMISIONS
 */
#uspeun, #uspepn, #uspect , #uspecbu, #usper {
    width: 5%;
}

#usper {

}

/*
* TAB SYSTEM USER
 */

#sysunp {
    border-style: none;
}

/*
* TAB LOG ACTIONS
 */

#lan  {
    width: 20%;
}

#lad {
    width: 75%;
}

/*
* TAL LOG LEVEL
 */

#lln {
    width: 20%;
}

#btnln {
    width: 80%;

}


/*
* TAB LOGS
 */

.logtable{
    margin-right: 5%;
}

#ltun, #ltan, #ltt {
    width: 15%;

}
#ltl {
    width: 10%;
}
#ltd {
    width: 43%;
}

/*
* SUB MODULES
 */


.navmodule {
    width: 100%;

}

.navmodule:hover {
    color: var(--navbg);
}



.submodlules {
    width: 60%;
    list-style: none;

}

.submodlules > li  {
    background: var(--bg);
    border: var(--navbg) solid 2px;
    margin-left: -40%;

}

.submodlules > li:last-child {
    margin-bottom: 2%;
}



.submodlules > li + li  {
    width: 158%;
}

.submodlules:hover {
    color: #847d7d;
}

.submodlules > li:hover {
    color: var(--acent);
}

.loadsubmodules {
    width: 24%;
    text-align: center;
    margin-left: -35%;
    background: var(--bg);
    border: var(--navbg) solid 2px;
}



/*
* TERMINAL
*/

.terminalresults {
    margin-top: 80px;
    resize: none;
    width: 80%;
}

.terminalinput {
    width: 80%;
    height: 10%;
}

.btnunc {
    border-style: none;
}

/*
* TAB MODULES
 */

#mttr {

}

#mv, #ma, #mi  {
    width: 20%;
}

#mn, #mu {
    width: 26%;
}
.btnm {
    width: 40%;
}
.btnm2 {
    width: 100%;
}

/*
* MODULE POSTGRES
 */

.mpgschematable {
    margin-left: 5%;
}


#pgd, #pgdc {
    width: 5%;
}
#pgs {
    width: 5%;

}
#pgn {
    width: 20%;
}

.slqinput {
    margin-left: 5%;
    width: 60%;
}

.sqloutput {
    margin-left: 5%;
    margin-top: 5px;
    background: white;
    font-size: 12px;
    width: 60%;
}

.closeout {
    margin-left: 5%;
    margin-top: 2px;

}





