
:root {
    --navbg: #3c3838;
    --bg: #4d4848;
    --acent: #ca7007
}

ul {
    list-style-type: none;
    margin: -8px;
    padding: 5px;
    width: 10%;
    font-size: 24px;

    background-color: var(--navbg);
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

li {
    border: solid var(--navbg);
    background-color: var(--bg);
}

a:link {
    text-decoration: none;
    color: black;

}

a:hover {
    color: darkorange;
}

a:visited {

}

#maindiv {
    margin-left: 11%;
}

#srvDate, #hostname, #srvTime, #uptime {
    margin-top: -12px;
}



#rebootbtn:hover {
    background-color: #920416;
}

#title {
    color: var(--acent);
}


body {
    background: #53c6c5 url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0 10l10-10h30v30l-10 10H0V10zm22 18l-4-4 4-4v8zM18 8l4 4-4 4V8zm12 12l-4-4 4-4v8zm-4-12l4 4-4 4V8z" fill="%23ffffff" fill-opacity="0.3" fill-rule="evenodd"/%3E%3C/svg%3E') repeat;
    margin: 0;
    padding: 0;
    height: 100%;
}

div {
    background: #4d5d5d url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M0 10l10-10h30v30l-10 10H0V10zm22 18l-4-4 4-4v8zM18 8l4 4-4 4V8zm12 12l-4-4 4-4v8zm-4-12l4 4-4 4V8z" fill="%23ffffff" fill-opacity="0.1" fill-rule="evenodd"/%3E%3C/svg%3E') repeat;
    text-align: left;
    height: 80%;

}

h1 {
    text-align: center;
}

#title {
    color: #2bc5c5;
    font-size: 50px;
}

#rebootbtn{

    background-color: #2bc5c5;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;


}

/*
* TAB: USER
 */

.usertable > tbody > tr > td {
    width: 5%;

}

/*
* TAB USER PERMISSIONS
*/

.userpermissiontable > tbody > tr > td:nth-child(2) {
    width:15%;

}

.userpermissiontable > tbody > tr > td {
    width: 3%;
}


/*
* TAB PERMISSIONS
 */

.permissiontable > tbody > tr > td:nth-child(2) {
    width:15%;

}

.permissiontable > tbody > tr > td {
    width: 3%;
}

/*
* TAB LOGS
 */


.logtable > tbody > tr:nth-child(2) > td {
    width:15%;

}

.logtable > tbody > tr > td {
    width: 3%;
}

/*
* TERMINAL
*/

.terminalresults {
    margin-top: 80px;
    resize: none;
    width: 80%;
}

.terminalinput {
    width: 80%;
    height: 10%;
}




