.pop {
    position: relative;
    float: right;
    background: rgba(176, 42, 60, 0.77);
    margin-top: 2%;
    margin-right: 3%;
    min-height: 100px;
    min-width: 250px;
    max-height: 100px;
    max-width: 250px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    line-height: 90px;
}